<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            订单发布
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">订单发布</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-item>
        <h3 position="stacked">订单信息</h3>

        <ion-label position="stacked">货物名称</ion-label>
        <ion-input></ion-input>

        <ion-label position="stacked">货物重量(Kg)</ion-label>
        <ion-input type="number"></ion-input>

        <ion-label position="stacked">取货地址</ion-label>
        <ion-input></ion-input>

        <ion-label position="stacked">收货地址</ion-label>
        <ion-input></ion-input>

        <ion-label position="stacked">订单金额(元)</ion-label>
        <ion-input type="number"></ion-input>

        <ion-label position="stacked">期望时间</ion-label>
        <ion-input ßßßtype="number"></ion-input>

    </ion-item>

    <ion-button expand="block" (click)="submit()">提交</ion-button>
</ion-content>
