<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      订单广场
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">订单广场</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let order of orders" >
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>{{order.goodsName}}</h3>
      <p>天津-北辰 ｜ 1KG ｜ 3¥ ｜ 2小时内</p>
    </ion-label>
  </ion-item>
</ion-content>
