<ion-header>
    <ion-toolbar color="primary" align="center">
        <ion-icon name="chevron-back-outline" routerLink="/login" slot="start"></ion-icon>
        <ion-title>register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="userRegister()">
        <div class="form-group">
            <div style="height: 50px;width: 100%;text-align: center;line-height: 50px">
                <p> 用户注册</p>
            </div>
            <div class="list" style="width:300px;margin-left: auto;margin-right: auto;margin-bottom: 0px">
                <ion-item>
                    <ion-label position="stacked">用户名</ion-label>
                    <ion-input type="text" placeholder='字母,数字或"_",6-30位' formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">手机号</ion-label>
                    <ion-input type="tel" placeholder='请输入号码' formControlName="phone"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">密码</ion-label>
                    <ion-input type="password" placeholder='不少于6位' formControlName="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">确认密码</ion-label>
                    <ion-input type="password" placeholder='请再次输入密码' formControlName="confirmPassword"></ion-input>
                    <ion-label class="row">
                        <ion-label class="offset-md-4 col-md-8 error"
                                   *ngIf="registerForm?.errors?.confirmPasswordError">
                            密码与确认密码不一致！
                        </ion-label>
                    </ion-label>
                </ion-item>
                <ion-button color="primary" size="large" strong="true" style="border-radius: 5px"
                            expand="block" (click)="userRegister()">注册
                </ion-button>
            </div>
        </div>
    </form>
</ion-content>
