<ion-header>
  <ion-toolbar>
    <ion-title>订单广场</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="orders?.content?.length !== 0">
  <ion-item *ngFor="let order of orders?.content" routerLink="/tabs/view/{{order.id}}">
    <ion-thumbnail slot="start">
      <img style="border-radius: 50%" src="assets/images/order.png">
    </ion-thumbnail>
    <ion-label>
      <h3>{{order?.goodsName}}</h3>
      <p>{{order?.endPlace}}  ｜ {{order?.startPlace}}｜ {{order?.freight}}</p>
    </ion-label>
  </ion-item>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="orders?.content.length === 0">
  <h3 style="text-align: center ; margin-top: 45%">暂无订单,请耐心等待</h3>
</ion-content>
