<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" routerLink="/tabs/tab5"></ion-icon>
    <ion-title>我的发布</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let order of orders" routerLink="/orderDetail/{{order.id}}">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" style="border-radius: 50%">
    </ion-thumbnail>
    <ion-label>{{order.goodsName}}</ion-label>
    <h5 [innerHTML]="order.status| status"></h5>
  </ion-item>
</ion-content>
