<ion-header>
    <ion-toolbar>
        <ion-icon name="chevron-back-outline" routerLink="/tabs/tab3"></ion-icon>
        <ion-title>订单详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-row class="ion-text-center">
        <ion-col size="4">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
        </ion-col>
        <ion-col size="8">
            <ion-text>
                <h5>发布人： {{order?.publisher?.username}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>发布人姓名： {{order?.publisher?.name}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>发布人联系方式： {{order?.publisher?.phone}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>订单名称： {{order?.goodsName}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>订单地址：{{order?.startPlace}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>收货地址：{{order?.endPlace}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="4">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-col>
        <ion-col size="8">
            <ion-text>
                <h5>揽收人： {{order?.collector?.username}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>揽收人姓名： {{order?.collector?.name}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>揽收人联系方式： {{order?.collector?.phone}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col size="12">
            <ion-text>
                <h5>开始时间：{{order?.startTime}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
        <ion-col>
            <h5>订单状态： </h5>
        </ion-col>
        <ion-col>
            <h5 [innerHTML]="order?.status | status"></h5>
        </ion-col>
    </ion-row>

</ion-content>
