<ion-header>
    <ion-toolbar color="primary" align="center">
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1 align="center" style="margin-top: 10px">
            <ion-label color="primary">捎物</ion-label>
        </h1>
        <div class="list-inset" style="width:300px;margin-left: auto;margin-right: auto;margin-bottom: 0px">
            <ion-item style="font-size: 14px;margin-right: 2px">
                <ion-label position="floating">
                    <ion-icon name="person-outline"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="手机号" id="username" formControlName="username"></ion-input>
            </ion-item>
            <ion-item style="font-size: 14px;margin-right: 2px">
                <ion-label position="floating">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </ion-label>
                <ion-input type="password" placeholder="密码" id="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-button color="primary" size="default" strong="true"
                        style="text-align: center;margin-top: 20px;margin-left: 40px" (click)="login()">登录
            </ion-button>
            <ion-button color="danger" size="default" strong="true"
                        style="text-align: center;margin-top: 20px;margin-left: 80px" routerLink="/register">注册
            </ion-button>
        </div>
    </form>
</ion-content>
