<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" routerLink="/tabs/tab5" slot="start"></ion-icon>
    <ion-title>关于捎物</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div style="text-align: center;padding-left: 20px;padding-right: 20px;padding-top: 50px">捎物是一款便利轻捷的互助app，人们可以通过捎物app找人帮自己拿东西，通过给予跑腿的人一定金额的rmb作为报酬。通过这款app
  可以解放哪些目前无法抽开身去拿东西的人，从而极大的方便了人们的生活，同时人们也可以在app上接热门发布的订单，从而赚取一定的rmb，是一份非常不错的兼职！
  </div>
  <div style="text-align: center;padding-left: 20px;padding-right: 20px;padding-top: 50px">ShaoWu is a convenient and convenient mutual assistance app. People can use the Wuwu app to find someone to help themselves with things, and give the runner a certain amount of RMB as compensation. Through this app
    It can liberate people who are currently unable to pull away to get things, which greatly facilitates people's lives. At the same time, people can also receive popular orders on the app to earn a certain amount of RMB, which is very good part time!
  </div>
</ion-content>
